
<section class="p-3 flex justify-between items-center">
    <p class="text-4xl font-bold text-gray-400">Welcome! <span class="text-base-content">
            <%= user.name %>
        </span> </p>
    <div class="text-xl font-semibold">
        <%= new Date().toLocaleDateString('en-US', { weekday: 'long' , year: 'numeric' , month: 'long' , day: 'numeric'
            }) %>
    </div>

</section>

<div class="divider"></div>
<div class="p-3 font-bold text-2xl">PROJECTS AVAILIBLE TO START</div>

<div class="m-3">
    <% if (projects.length==0) { %>
        <div class="p-3 font-bold text-xl text-error text-center">NO PROJECTS</div>

        <% } %>

            <% projects.forEach( function(project){ %>
                <%- include('../partials/project.availible.ejs', { project: project }) %>
                    <% }); %>
</div>


<div class="divider"></div>

<div class="p-3 font-bold text-2xl">PROJECTS APPLIED FOR</div>

<% if (interests.length==0) { %>
    <div class="p-3 font-bold text-xl text-error text-center">NO PROJECTS</div>
    <% } %>
<div class="p-3">

    <% interests.forEach(function(project){ %>
        <%- include('../partials/project.interest.ejs', { project: project }) %>
        <% }); %>
        
    </div>



    <dialog id="submission" class="modal">
        <div class="modal-box w-10/12" style="max-width: none;">
            <div class="flex justify-between items-center">
                <p class="text-xl font-bold">Suggest A Solution</p>
                <form method="dialog" >
                    <button class="link link-error">
                        <span class="material-symbols-outlined">close</span>
                    </button>
                </form>
            </div>
            <div class="modal-body">
                <form id="solution-submission" class="grid gap-3 grid-flow-row">

                    <!-- Solution Title -->
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text text-md font-semibold">Solution Title <span
                                    class="text-red-400">*</span></span>
                        </label>
                        <input aria-required="true" name="title" type="text"
                            placeholder="Enter Solution Title" class="input input-bordered w-full" required>
                    </div>

                    <!-- Solution Description -->
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text text-md font-semibold">Solution Description <span
                                    class="text-red-400">*</span></span>
                        </label>
                        <textarea class="textarea textarea-bordered" name="description"
                            placeholder="Briefly Describe Your Solution" rows="10" required></textarea>
                    </div>


                    <div class="actions flex gap-3 sticky bottom-0 bg-base-100 w-full">
                        <button type="submit" value="submit"
                            class="btn my-1 flex-1 btn-success btn-outline rounded-none no-animation">Submit
                            Solution</button>
                    </div>


                </form>
            </div>
        </div>
    </dialog>


<script>
            const interestForm = document.getElementById('solution-submission');
            

            
            async function adoptProject(button) {
                const puid = button.dataset.puid;

                const response = await fetch(`/api/project/assign/${puid}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                });

                const data = await response.json();
                
                if (response.ok) {
                    alert('Project Adopted');
                    window.location.reload();
                    return;
                } else {
                    alert('Error Adopting Project');
                }
                return;
                
                
            }

            interestForm.addEventListener('submit', async (e) => {
                e.preventDefault();
                const puid = interestForm.getAttribute('data-puid');
                const formData = new FormData(interestForm);
                const data = Object.fromEntries(formData.entries());
                const response = await fetch(`/api/project/interest/${puid}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });

                const resultData = await response.json();
                // console.log(resultData)
                if (response.ok) {
                    alert('Interest Expressed');
                    window.location.reload();
                    return;
                } else {
                    alert('Error Expressing Interest');
                }
                console.log(response)
                return;

            });

            async function interestModal(button) {
                const puid = button.dataset.puid;
                interestForm.setAttribute('data-puid', puid);
                submission.showModal();
            }


            async function expressInterest(form){
            }

</script>
