<!-- <%= projects %> -->

<div class="p-3 font-bold text-2xl">Team Building For Projects</div>

<div class="m-3">
    <% projects.forEach( function(project){ %>
        <%- include('../partials/project.active.ejs', { project: project, }) %>
            <% }); %>
            <% if (projects.length == 0) { %>
                <div class="p-3 text-center text-2xl font-semibold">No Projects Availible</div>
            <% } %>

</div>
<dialog id="submission" class="modal">
    <div class="modal-box w-10/12" style="max-width: none;">
        <div class="flex justify-between items-center">
            <p class="text-xl font-bold">Submit Your Solution</p>
            <form method="dialog">
                <button class="link link-error">
                    <span class="material-symbols-outlined">close</span>
                </button>
            </form>
        </div>
        <div class="modal-body">
            <form id="solution-submission" class="grid gap-3 grid-flow-row">
                
                <!-- Solution Title -->
                <div class="form-control">
                    <label class="label">
                        <span class="label-text text-md font-semibold">Solution Title <span class="text-red-400">*</span></span>
                    </label>
                    <input aria-required="true" name="solutionTitle" type="text" placeholder="Enter Solution Title" class="input input-bordered w-full" required>
                </div>
                
                <!-- Solution Description -->
                <div class="form-control">
                    <label class="label">
                        <span class="label-text text-md font-semibold">Solution Description <span class="text-red-400">*</span></span>
                    </label>
                    <textarea class="textarea textarea-bordered" name="solutionDescription" placeholder="Briefly describe your solution" rows="5" required></textarea>
                </div>
                
                <!-- Solution Link -->
                <div class="form-control">
                    <label class="label">
                        <span class="label-text text-md font-semibold">Solution Link <span class="text-red-400">*</span></span>
                    </label>
                    <input name="solutionLink" type="text" placeholder="https://example.com" class="input input-bordered w-full" required>
                </div>
                
                <!-- Submission Buttons -->
                <div class="actions flex gap-3 sticky bottom-0 bg-base-100 w-full">
                    <button type="submit" value="submit" class="btn my-1 flex-1 btn-secondary btn-outline rounded-none no-animation">Submit Solution</button>
                </div>
                
            </form>
        </div>
    </div>
</dialog>



<script>
    const form = document.getElementById('solution-submission');
    const submission = document.getElementById('submission');
    function completeProject(button) {
        form.setAttribute('data-puid', button.dataset.puid);
        submission.showModal();
    }

    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const puid = form.getAttribute('data-puid');
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());
        const response = await fetch(`/api/project/complete/${puid}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        });
        const resultData = await response.json();
        console.log(resultData)
        if (response.ok) {
            submission.close();
            window.location.reload();
        }else{
            alert('Error Completing Project');
        }
    });

</script>
<!-- Student Invitation Modal -->
