<section class="p-3 flex justify-between items-center">
        <p class="text-4xl font-bold text-gray-400">Welcome! <span class="text-base-content"><%= user.name %></span> </p>
        <div class="text-xl font-semibold"><%= new Date().toLocaleDateString('en-US', { 
            weekday: 'long', 
            year: 'numeric', 
            month: 'long', 
            day: 'numeric'
          }) %></div>
          
    </section>

<div class="divider"></div>

