
<div class="card rounded-none flex-1 md:min-w-96 bg-base-200 text-white w-96 border  border-yellow-200">
  <div class="card-body">
    <div class="annotations flex gap-2">
      <div class="badge bg-yellow-200 text-black font-bold"><%= project.status %></div>
      <div class="badge bg-gray-300 text-black font-bold">ID : <%= project.puid %></div>
    </div>
    <h2 class="card-title"><%= project.data.title %></h2>
    <p><%= project.data.description %></p>
    <div class="actions flex gap-3  w-full">
      <button type="submit" name="action" value="draft" class=" min-w-40 btn my-1  btn-error btn-outline  rounded-none no-animation">Delete</button>
      
      </div>
  </div>
</div>








