<div class="prose bg-primary  h-36 rounded-xl p-6 cursor-pointer"
    style="background-image: url(https://img.freepik.com/free-vector/concept-landing-page-transfer-files_52683-26356.jpg?t=st=1724359864~exp=1724363464~hmac=bf8856a0e65c81f4088d33bfc613eeffc1306dff483c1f3232890d0595787b43&w=740);"
    id="<%= id %>"
    >
    <p class="font-bold text-2xl text-primary-content text-center ">
        <%= role %>
    </p>
</div>