<a class="hero prose bg-primary h-36 rounded-xl  cursor-pointer" href="/auth/login/<%= id %>"
    style="background-image: url( '<%= imgurl %>' ); background-size: cover; background-position: 5% 45%; "
    id="<%= id %>">
    <div
        class="hero-overlay bg-opacity-60 hover:bg-opacity-0 text-2xl hover:text-3xl  hover:text-secondary transition-all ease-in-out rounded-xl">
        <p class="font-bold   text-center text-inherit">
            <%= role %>
        </p>
    </div>
</a>