<div class="navbar bg-base-200 py-4 px-6">
    <div class="navbar-start">
        <a class="btn btn-ghost text-xl no-animation">CSE-CSP</a>
    </div>
    <div class="navbar-center prose">
        <h2><%= title %></h2>
    </div>
  
</div>