<form class="space-y-4" id="admin-login">
    <div class="form-control">
        <label class="label">
            <span class="label-text">Username</span>
        </label>
        <input name="username" type="text" placeholder="Enter your username" class="input input-bordered w-full" required>
    </div>
    <div class="form-control">
        <label class="label">
            <span class="label-text">Super Secret Password</span>
        </label>
        <input name="password" type="password" placeholder="Enter your password" class="input input-bordered w-full" required>
    </div>
    <div class="form-control mt-6">
        <input type="submit" class="btn btn-primary w-full" value="Login"></input>

    </div>
</form>
<script src="/js/adminLogin.js"></script>