<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

        <div class=" flex flex-col items-center text-center">
            <div class="prose px-5">

                <h1 class=" mt-14 text-secondary font-bold">
                    Looks like you've found the
                    doorway to the great Nothing!!
                </h1>
                <h3 class="mt-8 text-base-content">Sorry about that! Please visit our <span class="text-secondary">Role
                    Selection Page</span> to get where you need to go or press back button to go where you came from.
                </h3>
                <a class="btn btn-wide btn-outline" href="/">Take me there!</a>
            </div>
        </div>

</body>

</html>